:root {
    --background-color: #2d3131
}

* {
    box-sizing: border-box;
    font-family: Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: #fcfcfc;

    /* remove scroll bar for Reader */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    ::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

p {
    text-align: center;
}

label {
    cursor: pointer;
}

input#file-upload {
    visibility: hidden;
}

#wrapper {
    width: 70%;
    margin: auto;
}

#title {
    font-size: 2rem;
    text-align: center;
}

#drop-container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3d4141;
    border: 1px dashed #fcfcfc;
    border-radius: 1rem;
}

#drop-container i {
    font-size: 4rem;
}

#preview-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.preview-tile {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    background: #313737;
    border-radius: 1rem;
}

.preview-media {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flexbox {
    display: flex;
}

#Gallery {

    a, a:link, a:visited, a:hover, a:active {
        /* remove styling on hyperlinks */
        color: inherit;
        text-decoration: inherit;
        font-weight: inherit;
    }
}

#VolumeCover {
    margin: 10px;

    img {
        height: 364px;
        width: 257px;
        object-fit: contain;
    }
}

#ReaderContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;

    #Reader {
        grid-row: 1 / 2;
        /*height: 100vh;*/
        padding: 10px;

        display: flex;
        flex-flow: nowrap;
        align-items: center;
        justify-content: center;

        &:focus {
            outline: none;
        }

        .reader-image {
            max-height: 100%;
            max-width: 50%;

            -webkit-user-select: none;
            user-select: none;

            &:only-of-type {
                /* if only displaying a single page, make it full width */
                max-width: 100%;
            }
        }

        &.editable .reader-image {
            cursor: crosshair;
        }

        .new-ocr-block {
            position: absolute;
            cursor: crosshair;
            background-color: lightgray;
            outline: 1px solid darkgray;
            opacity: 50%;
            pointer-events: none;
        }

        .ocr-block {
            position: absolute;
            color: black;

            > p {
                background-color: white;
                display: table;
                margin: 0;
                opacity: 0;
                padding-inline: 2px;
                white-space: nowrap;
            }

            &:hover > p, &:focus > p {
                opacity: 1
            }
        }

        &.editable .ocr-block {
            /*background-color: lightgray;*/

            &[contenteditable="true"] {
                outline: 2px solid red;
            }

            &:not([contenteditable="true"]) {
                cursor: pointer;
                outline: 2px ridge darkgray;
                user-select: none;

                &:focus {
                    cursor: move;
                    outline: 2px solid red;
                    overflow: hidden;
                    resize: both;
                    z-index: 5;
                }
            }
        }

        #Magnifier {
            position: absolute;
            border: 1px solid #000;
            cursor: none;
            z-index: 10;
        }
    }

    #HelpBanner {
        grid-row: 2 / 3;
        font-size: 15px;
        height: 20px;
        margin-left: 20px;
        overflow-block: scroll;
    }
}
